@model EmployeeManagement.Models.Employee

<section class="content-header">
    <h1>
        Employees
    </h1>
    <ol class="breadcrumb">
        <li><a href="./Department"><i class="fa fa-users"></i> Employee</a></li>
        <li class="active">Update</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Update Employee</h3>
        </div>

        <form class="form-horizontal" method="post" action="/Employee/UpdateEmployee">
            <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">FirstName</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength='20' class="form-control" name="FirstName" placeholder="FirstName" value="@Model.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">LastName</label>
                        <div class="col-sm-10">
                            <input type="text" maxlength='20' class="form-control" name="LastName" placeholder="LastName" value="@Model.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-10">
                            <input type="tel" maxlength='2' class="form-control" name="Age" placeholder="Age" value="@Model.Age">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Gender</label>
                        <div class="col-sm-10">
                            <select asp-for="Gender" asp-items="@Model.GenderSelectList" name="Gender" class="form-control">
                                <option value="@Model.Gender">Select Gender</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-10">
                            <select asp-for="DepartmentId" asp-items="@Model.DepartmentSelectList" name="DepartmentId" class="form-control">
                                <option value="@Model.DepartmentId">Select Department</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Manager</label>
                        <div class="col-sm-10">
                            <select asp-for="ManagerId" asp-items="@Model.ManagerSelectList" name="ManagerId" class="form-control">
                                <option value="@Model.ManagerId">Select Manager</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Salary</label>
                        <div class="col-sm-10">
                            <input type="tel" maxlength='10' class="form-control" name="Salary" placeholder="Salary" value="@Model.Salary">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Date of Joining</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="col-sm-10">@Model.JoiningDate</label>
                        </div>
                        <input type="hidden" name="Id" value="@Model.Id" />
                    </div>
                </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-warning">Update</button>
            </div>
        </form>
    </div>
</section>